@import "normalize.css";
@import "react-toastify/dist/ReactToastify.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Manrope", sans-serif;
}

.active {
  color: #3470ff;
}

.svg-icons {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.button-disable {
  cursor: not-allowed;
  opacity: 0.5;
}
